input, label{
    width:250px;
    height: 20px;;
    border-radius: 5px;
    margin-left: 50%;
    margin-bottom: 20px;;
}
textarea{
    margin-left: 50%;
    border-radius: 5px;

}
button{
    cursor: pointer;
    width:250px;
    height: 50px;
    margin-left: 50%;



}
#entryNum{
    margin-left: 50%;
}
table, td, th {
    border: 1px solid black;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  th{
      background-color: deepskyblue;
      color: white;
  }
#description{
    text-transform:uppercase;
}
#important{
    font-weight:bold;
}
#form{
    border:1px solid black;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#delete{
    margin-left:86.7%;
}
#addAssignmentBtn:hover{
    background-color: green;
    color: white;
}
#delete:hover{
    background-color: red;
    color: white;
}
#details{
    display: none;
}


