body{
    font-family: 'Montserrat', sans-serif;
}
 text, label{
    width:250px;
    height: 40px;; 
    margin-bottom: 20px;;
}
textarea{
    margin-left: 50%;
    border-radius: 5px;

}
.nav{
    background-color:aquamarine;
}
button{
    cursor: pointer;
    width:250px;
    height: 50px;
    margin-left: 50%;
    margin-left: 20px;



}
#entryNum{
    margin-left: 50%;
}
table, td, th {
    border: 1px solid black;
  }
  
  
  
  th{
      background-color: deepskyblue;
      color: white;
  }
#description{
    text-transform:uppercase;
}
#important{
    font-weight:bold;
}

#delete{
    margin-left:86.7%;
}
#addAssignmentBtn:hover{
    background-color: green;
    color: white;
}
#delete:hover{
    background-color: red;
    color: white;
}
#details{
    display: none;
}

#export:hover{
    background-color: skyblue;
    color:white;
}
#completion{
    display: inline-block;
}
